@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEncomiendaModel
@{
}
 
<h1>Listado de Encomiendas</h1>
<table class="table-bordered border-primary col-8">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Presentacion</th>
      <th scope="col">Peso</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentacion</th>
    </tr>
  </thead>
    @foreach (var encomienda in Model.Encomienda)
    {
        <tr>
            <td>@encomienda.id</td>
            <td>@encomienda.presentacion</td>
            <td>@encomienda.peso</td>
            <td>@encomienda.tipo</td>
            <td>@encomienda.presentacion</td>
              <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-EncomiendaId="@encomienda.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" href="">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>